.nav {
    background-color:blanchedalmond;
}


.pets-section {
    background-color:rgb(139, 255, 156);


}

.uwm-article {
    background-color:plum;

}

.uwm-section {
    background-color:rgb(200, 218, 237);

}
