.nav {
    background-color:blanchedalmond;
}

.pets-article {
    background-color:darksalmon;

}

.pets-section {
    background-color:beige;


}

.uwm-article {
    background-color:plum;

}

.uwm-section {
    background-color:rgb(200, 218, 237);

}
